@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_2.eot')
	src: local('☺'), url('../fonts/MuseoSansCyrl_2.woff') format('woff'), url('../fonts/MuseoSansCyrl_2.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_2.svg') format('svg')
	font-weight: 700
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_0.eot')
	src: local('☺'), url('../fonts/MuseoSansCyrl_0.woff') format('woff'), url('../fonts/MuseoSansCyrl_0.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_0.svg') format('svg')
	font-weight: 300
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/ofont.ru_Museo Sans Cyrl 500.eot')
	src: local('☺'), url('../fonts/ofont.ru_Museo Sans Cyrl 500.woff') format('woff'), url('../fonts/ofont.ru_Museo Sans Cyrl 500.ttf') format('truetype'), url('../fonts/ofont.ru_Museo Sans Cyrl 500.svg') format('svg')
	font-weight: 500
	font-style: normal

*, ::after, ::before
	box-sizing: border-box
	max-width: 100%

html
	color: #1e1e1e

body, html
	font-family: "MuseoSansCyrl"

$color-main: #93C01F

.container 
	max-width: 1420px
	margin: 0 auto
	.filters
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 82px
		padding-bottom: 18px
		font-size: 16px
		font-weight: 400
		line-height: 24px
		border-bottom: 2px solid #f3f3f2
		.filter
			width: 20%
			padding-right: 70px
		.label
			font-size: 16px
			font-weight: 700
			line-height: 21px
			margin-bottom: 18px
		.filter_shell
			border: solid 1px #e2e2e2
			padding: 13px 20px
			display: block
			position: relative
			input, input:focus
				border: none
				outline: none
			&.input
				padding: 0
				input 
					padding: 13px 20px
					padding-left: 50px
					font-size: 16px
					font-weight: 300
					line-height: 24px
			&.input:before
				content: 'от'
				color: #e2e2e2
				position: absolute
				top: 13px
				left: 20px
				height: 100%
			&.input:last-of-type:before
				content: 'до'
		.input_block
			display: flex
			.input 
				max-width: 50%
		.price
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			width: 400px
			#slider_price
				margin-bottom: 25px
				width: 100%
			.ui-slider-horizontal
				height: 3px
				background-color: #E2E2E2
				border: none
				.ui-slider-handle
					margin-left: 0
			.ui-widget-header
				background-color: $color-main
				border: none
			.ui-state-default
				width: 11px
				height: 11px
				background-color: $color-main
				border-radius: 50%
				border: none
			.ui-state-default:focus
				outline: none
			.input
				position: relative
				font-size: 16px
				font-weight: 300
				line-height: 24px
				padding-left: 5px
				input
					height: 24px
					font-size: 16px
					font-weight: 300
					line-height: 24px
					border: none
					background: none
					width: 94px
					display: inline-block
					position: relative
					&:focus
						outline: none
				label
					position: absolute
					margin: 0
					width: 0
					height: 1px
					bottom: 0
					left: 0
					background-color: $color-main
					transition: all .2s
				input:focus + label 
					width: 100%
				&:after
					content: '₽'
					position: absolute
					top: 0
					right: 5px
					height: 24px
					display: block
		.rooms
			width: 260px
			flex-grow: 1
			.filter_shell 
				color: #1e1e1e
				font-size: 16px
				font-weight: 300
				line-height: 24px
				text-decoration: none
			.select:after
				content: '|'
				color: #e2e2e2
				position: absolute
				top: 13px
				right: 20px
				height: 100%
		.square
			width: 150px
			flex-grow: 1
		.floor
			width: 150px
			flex-grow: 1
		.section
			padding-right: 0
			width: 220px
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			justify-content: space-between
			.label
				width: 100%
			.section_not_residential
				fill: #F3F3F2
				stroke: #959595
				stroke-width: 0.3
			.section_residential
				fill: #F3F3F2
				stroke: #959595
				stroke-width: 0.3
				transition: all .3s
				cursor: pointer
				&.active, &:hover
					fill: #93C01F
	.result_status
		display: flex
		justify-content: center
		color: #959595
		font-size: 14px
		font-weight: 300
		line-height: 19px
		width: 100%
		#reset_filters
			font-weight: 700
			color: #959595
			font-size: 14px
			font-weight: 700
			line-height: 19px
			margin-left: 40px

.results_block
	padding-top: 25px
	.header_buttons
		display: flex
		justify-content: space-between
		.sorts
			a 
				color: #1e1e1e
				font-family: "MuseoSansCyrl"
				font-size: 14px
				font-weight: 500
				line-height: 21px
		.grouping
			label
				padding-left: 50px
				p 
					color: #959595
					font-family: "MuseoSansCyrl"
					font-size: 14px
					font-weight: 500
					line-height: 21px
					position: relative
					&:before 
						content: ''
						position: absolute
						right: -40px
						top: 50%
						transform: translateY(-50%)
						width: 30px
						height: 8px
						border-radius: 6.5px
						background: #f3f3f2
						box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1)
					&:after 
						content: ''
						position: absolute
						right: -40px
						top: 50%
						transform: translateY(-50%)
						border-radius: 100%
						width: 14px
						height: 14px
						background: #93c01f
						box-shadow: 2px 2px 4px rgba(0,0,0,0.1)
						transition: all .2s
						z-index: 2
				input
					display: none
					&:checked + p 
						color: #1e1e1e
						&:after
							right: -23px
							z-index: 1
			label:last-of-type
				p:before
					display: none
				p:after
					left: -45px
				input:checked + p 
					&:after
						left: -28px
	.results
		display: flex
		justify-content: space-between
		.result
			width: 33%
			max-width: 440px

